

<h1>Buffalo Girl Gang</h1>
<h4>A gang of girls in Buffalo, New York.
Women who code. Teach. Do. Make. Explore. Fight.</h4>

<div class="container">
<div class='image' id='homeimage'>
  <img class="buff-gg-image" src="/images/bgg.jpeg">
</div>
</div>

<footer>
  All rights reserved Buffalo Girl Gang 2018 &copy;
</footer>

  </body>
</html>
