<div class="container">
  <h1>Buffalo<br>Girl Gang</h1>
  <p>A gang of girls in Buffalo, NY!</p>
  <p><a href="articles">Blog</a></p>


<div class='image' id='homeimage'>
  <img src='https://static.pexels.com/photos/632722/pexels-photo-632722.jpeg'>
</div>
</div>
