/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

@import url('https://fonts.googleapis.com/css?family=Special+Elite');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

* {
  margin: 0px;
}

nav {
  padding: 5px 5px;
  background-color: salmon;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
}

.buff_nav {
  float: right;
  padding: 5px 5px;
}

li a::before {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: pink;
  position: absolute;
  top: 2;
  width: 0%;
  transition: all ease-in-out 250ms;
}

li a:hover::before {
  width: 100%;
}
p {
  font-family: 'Special Elite', cursive;
  font-weight: 100;
  font-size: 24px;
  float: left;
  color: black;
}

.buff-gg-image.resize {
  max-width:50%;
  max-height:50%;
}
