/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

nav {
  padding: 5px 5px;
  background-color: salmon;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
}

.buff_nav {
  float: right;
  padding: 5px 5px;
}

li a::before {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background-color: pink;
  position: absolute;
  top: 2;
  width: 0%;
  transition: all ease-in-out 250ms;
}

li a:hover::before {
  width: 100%;
}
p {
  font-family: 'Special Elite', cursive;
  font-weight: 100;
  font-size: 24px;
  float: left;
  color: black;
}

.buff-gg-image.resize {
  max-width:50%;
  max-height:50%;
}

.sign-up,
.log-in {
  text-align: center;
}


table {
  height: 100%;
  width: 100%;
  font-family: 'Vollkorn SC', serif;
  font-size: 12px;
}

img {
  height: 100%;
  width: 100%;
}

.buffalo {
  height: 50%;
  width: 50%;
  float: right;
}

.articles {
  float: left;
  padding-left: 5%;
}

h2 {
  font-family: 'Lobster', cursive;
  color: #02c4f4;
  font-size: 50px;
  text-align: center;
  margin: 10px 0 10px 0px
}

.api {
  text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.blogbutton {
  position: relative;
  z-index: 200;
}

.image {
  position: relative;
  z-index: 100;
}

h1 {
  color: black;
  font-size: 80px;
  font-family: 'Lobster', cursive;
  text-align: center;
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-10%);
  line-height: 75px;
  opacity: 0.75;
}

h4 {
  color: black;
  font-size: 20px;
  text-align: center;
  position: absolute;
  z-index: 200;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(650%);
}

header {
  background: white;
  color:#fff;
  padding: 20px 25px;
  overflow: hidden;
}

footer {
  text-align: center;
  font-size: 8px;
}

ul {
  list-style: none;
  float: left;
}

li {
  display: inline-block;
  margin-left: 30px;

  position: relative;
}

a {
  text-decoration: none;
  color: black;
  padding-right: 10px;
}

.bgg-logo {
  padding: 0px 0px 10px 10px;
  }

.buff_half {
  float: left;
  width:50%;
}

.buff-group-button {
  float: right;
  display: inline-block;
}

.buff-sign-up,
.buff-sign-in {
  border-radius: 3px;
  background-color: lightgrey;
  margin-right: 8px;
  color:#333;
  color: black;
  padding: 5px 8px;
}


@media (max-width: 600px) {

  body {
    background-color: purple;
  }

  h1 {
    font-size: 30px;
    line-height: 25px;
    top: 40%;
  }


}
