// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  height: 100%;
  width: 100%;
  font-family: 'Vollkorn SC', serif;
  font-size: 12px;
}

img {
  height: 100%;
  width: 100%;
}

.buffalo {
  height: 50%;
  width: 50%;
  float: right;
}

.articles {
  float: left;
  padding-left: 5%;
}

h2 {
  font-family: 'Lobster', cursive;
  color: #02c4f4;
  font-size: 50px;
  text-align: center;
  margin: 10px 0 10px 0px
}
